@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.matrix-row {
    height: 50px
}

.matrix-row-element {
    padding: 3px;
    border: 1px solid #333
}

.main-block {
    margin-top: 82px;
}

.col {
    margin: 5px;
}

.navbar-brand {
    font-size: 40px;
    padding: 0;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.task-btn {
    transition: .3s;
}

.task-btn:hover {
    transform: scale(1.25);
}

#enter-btn:focus #argumentX-value:invalid {
    border-color: red;  
}