body {
    margin: 0;
    padding: 0;
    background: #BDCCCA;
    font-size: 19px;
    font-family: sans-serif;
}

.top {
    width: 100vw;
    height: 14vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .nav-item > a {
    text-decoration: none;
    color: black;
    width: 110px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background: gray;
    transition: .3s;
}

.top .nav-item > a:hover {
    background: #A69CAC;
}

.main .about-content {
    margin: 10px;
    width: 50vw;
    font-size: 16px;
}

.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo {
    width: 185px; 
    height: 240px; 
    border-radius: 5%;
    border: 1px solid #000;
    float: left;
    margin: 20px 20px 0 0
}

.main .bottom-content {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.list li {
    text-align: left;
}

.main .mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 80vh;
    align-items: center;
}

.banners {
    display: grid;
    grid-auto-flow: column;
}

.banners a img {
    max-width: 115px;
    max-height: 200px;
    transition: .3s;
}

.banners a img:hover {
    max-width: 140px;
    max-height: 240px;
}